# Chapter 1 - Introduction: Key Concepts, Notation, Set Theory, Relations, and Functions

This notebook contains code accompanying Chapter 1 Introduction: Key Concepts, Notation, Set Theory, Relations, and Functions in *Practical Discrete Mathematics* by Ryan T. White and Archana Tikayat Ray

## Functions and Relations

### The `sort()` function

In [ ]:
numbers = [3, 1, 4, 12, 8, 5, 2, 9]
names = ['Wyatt', 'Brandon', 'Kumar', 'Eugene', 'Elise']

# Apply the sort() function to the lists
numbers.sort()
names.sort()

# Display the output
print(numbers)
print(names)

[1, 2, 3, 4, 5, 8, 9, 12]
['Brandon', 'Elise', 'Eugene', 'Kumar', 'Wyatt']

### The `shuffle()` function

In [ ]:
import random

# Set a random seed so the code is reproducible
random.seed(1)

# Run the random.shuffle() function 5 times and display the outputs
for i in range(0,5):
    numbers = [3, 1, 4, 12, 8, 5, 2, 9]
    random.shuffle(numbers)
    print(numbers)

[12, 2, 1, 5, 9, 3, 8, 4]
[4, 2, 8, 3, 1, 12, 5, 9]
[4, 5, 1, 9, 3, 8, 12, 2]
[9, 12, 2, 8, 5, 3, 4, 1]
[9, 8, 4, 3, 12, 1, 5, 2]

Code about union text

In [ ]:
# Create two sets of numbers
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Perform union operation
union_set = set1.union(set2)

# Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Union of Set 1 and Set 2:", union_set)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}

**Q1.** randomly create 2 set of number, find the common number in 2 sets

In [ ]:
import random

# Function to generate a random set of numbers
def generate_random_set(size, min_val, max_val):
    return set(random.randint(min_val, max_val) for _ in range(size))

# Generate two random sets
set1 = generate_random_set(10, 1, 20)
set2 = generate_random_set(10, 1, 20)

# Find the common numbers (intersection)
common_numbers = set1.intersection(set2)

# Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Common numbers:", common_numbers)

Set 1: {1, 8, 10, 12, 15, 16, 18}
Set 2: {4, 6, 10, 11, 14, 17, 18}
Common numbers: {10, 18}

**Q2.** Shuffle the character in my name. for example: Tan Qi An. After shuffle nA iQ nTa

In [ ]:
import random

def shuffle_word(word):
    chars = list(word)
    random.shuffle(chars)
    return ''.join(chars)

def shuffle_name(name):
    words = name.split()
    shuffled_words = [shuffle_word(word) for word in words]
    return ' '.join(shuffled_words)

# Example usage
original_name = "Tan Qi An"
shuffled_name = shuffle_name(original_name)

print(f"Original name: {original_name}")
print(f"Shuffled name: {shuffled_name}")

Original name: Tan Qi An
Shuffled name: naT iQ nA

**Q3.** Extract a table from wikipedia https://en.wikipedia.org/wiki/Frieren

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
import pandas as pd

# URL of the Wikipedia page
url = "https://en.wikipedia.org/wiki/Frieren"

# Read all tables from the Wikipedia page
tables = pd.read_html(url)

# Assuming you want the first table, you can access it like this:
# (You might need to change the index if it's not the first table)
first_table = tables[0]

# Display the first few rows of the table
print(first_table.head())

# You can also save the table to a CSV file
first_table.to_csv("frieren_table.csv", index=False)

                                                   0  \
0                      Frieren: Beyond Journey's End
1  First tankōbon volume cover, featuring (from l...
2                         葬送のフリーレン (Sōsō no Furīren)
3                                              Genre
4                                              Manga

                                                   1
0                      Frieren: Beyond Journey's End
1  First tankōbon volume cover, featuring (from l...
2                         葬送のフリーレン (Sōsō no Furīren)
3                     Adventure[1]Drama[1]Fantasy[1]
4                                              Manga